
/********** Base styles **********/
* {
  box-sizing: border-box;
}
}
h1 {
  margin-bottom: 15px;
  font-size: 18px;


}
h2{
  top: 50.9%;
  border: 1px solid black;
  background-color: #444444; /* Grey */
  padding: 10px;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  margin-top: 50px;
  overflow: auto;
 } 

#content {

  font-size: 13px;
  
}

#home{
   font-family: Helvetica;
}

#back{
  position: absolute;
  bottom: ;
  color: blue;
  text-decoration: underline;
}

h3{

 font-family: Helvetica;
 color: #20B2AA;
}

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin: 0 auto 15px;
  top: 50.9%;
  border: 1px solid black;
  background-color: #444444; /* Grey */
  padding: 10px;
  width: 90%;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  margin-top: 50px;
  overflow: auto;
}
.category-tile span {
  position: absolute;
  top: 0;
  right: 35%;
  width: 30%;
  text-align: center;
  font-size: 1.2em;
  background-color: #DEB887;
  color: #fff;

}
#titulo1{
    color: red;
    background: #DEB887; /* Burlywood  */
}

#titulo2{
    color: white;
    background: #5F9EA0; /* Cadet Blue */
}

#titulo3{
    color: green;
    background: #FFCC00; /* Yellow */
}

.navbar-brand {
  padding-top: 25px;
  text-align: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  position: absolute;
  text-decoration: none;
  text-align: left;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  position: absolute;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #483D8B;
  text-align: center;
  background: grey;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}
.navbar-header button.navbar-toggle {
  clear: both;

 
}
/* Simple Responsive Framework. */
.row {
  width: 100%;

}
#header-nav {
 background: #A9A9A9;
  border-radius: 0;
  border: 0;
}



/* By José Pablo Zeledón Sánches */